<h1>Yelp#index</h1>
<p>Find me in app/views/yelp/index.html.erb</p>
<ul style="list-style: none;">
<% @restaurants.each do |res| %>
  <li><a href='/restaurants/<%= res.id%>'><%= res.name %></a><br>
  <%= res.description %>
  <%= res.average_rating %></li>
  <%= link_to "Review #{res.name}", new_restaurant_review_path(res) %>

  <br>
<% end %>
</ul>

<form class="button" action="/restaurants/new" method="get">
  <button type="submit" name="new_restaurant" value="Create new restaurant">Create new restaurant</button>
</form>
