<section class="parallax">
  <div class="sign-in-container text-center">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <br><%= f.submit "Reset password", :id => 'sign-in-link'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</section>

<style >
h2 {
color: white
}
.sign-in-container {
padding-top: 60px;
}

#shared-links {
color: white;
text-decoration: none
}
#shared-links:hover {
color: black;
text-decoration: none
}
</style>
