<% provide(:title, "Edit restaurant")  %>
<h1>Update your restaurant information</h1>

<%= form_for(@restaurant) do |x| %>
<%= x.label :name %><br>
<%= x.text_field :name %><br><br>

<%= x.label :description %><br>
<%= x.text_area :description, :class => 'restaurant_description_field'%><br><br>

<%= x.submit "Save changes" %><br><br>

<% end %>

<li>
<%= link_to 'delete', @restaurant, method: :delete, data: {confirm: 'You sure?'} %>
</li>
