<% provide(:title, "Edit restaurant")  %>
<h1>Update your restaurant information</h1>

<%= form_for(@restaurant) do |x| %>
<%= x.label :name %>
<%= x.text_field :name %>

<%= x.label :description %>
<%= x.text_area :description %>

<%= x.submit "Save changes" %>

<% end %>

<li>
<%= link_to 'delete', @restaurant, method: :delete, data: {confirm: 'You sure?'} %>
</li>
