<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Average rating:</strong>
  <%= @restaurant.average_rating %>
</p>

<p>

  Belongs to <%= @restaurant.user_email %>
</p>

  <strong>Reviews:</strong>
  <ul>
    <% @restaurant.reviews.each do |res| %>
    <li>
      Review:<br>
      <%= res.comment %><br>
      Rating:
      <%= res.rating %><br><br>
      <%= res.user_email %><br><br>
    </li>
    <%end%>
  </ul>
</p>



<%= link_to '<button type="submit"> Edit</button>'.html_safe, edit_restaurant_path(@restaurant), :id => 'edit_restaurant_button'%>
