<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %></head>
<body>
  <% if user_signed_in?  %>
  <p> Logged in as: <%= current_user.email %></p>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"> <%= alert %></p>
<ul>
  <% if user_signed_in?  %>
  <!-- <p> Logged in as: <%= current_user.email %></p> -->
  <div class="all_links" >
  <li>
    <%= link_to('Sign out', destroy_user_session_path, :id => 'sign_out_link', :method => :delete) %>
  </li>
  <li>
    <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Sign in', new_user_session_path, :id => 'sign_in_link') %>
  </li>
  <li>
    <%= link_to('Sign up', new_user_registration_path) %>
  </li>
  <% end %>
  </div>
</ul>

  <%= yield %>

</body>
</html>
