<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title>Yelp</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %></head>
  <body>
    <nav class="navbar navbar-inverse" id="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/yelp/index"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/users/edit">Account</a></li>
            <% if user_signed_in?  %>
            <li><div class="logged_in">
              <p> Logged in as: <%= current_user.email %></p>
            </div></li>
            <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in?  %>
          <li><a href="/users/sign_out" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>
          <% else  %>
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
          <% end  %>
        </ul>
      </div>
    </nav>
    <!-- <p class="notice"><%=notice%></p>
    <p class="alert"><%=alert%></p> -->
    <%= yield %>
  </body>
  </html>
