<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in?  %>
  <p> Logged in as: <%= current_user.email %></p>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"> <%= alert %></p>
<ul>
  <% if user_signed_in?  %>
  <!-- <p> Logged in as: <%= current_user.email %></p> -->
  <div class="all_links" >
  <li>
    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
  </li>
  <li>
    <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Sign in', new_user_session_path) %>
  </li>
  <li>
    <%= link_to('Sign up', new_user_registration_path) %>
  </li>
  <% end %>
  </div>
</ul>

  <%= yield %>

</body>
</html>

<!-- below code causing 4 test fails, will be moved into stylesheet shortly -->
<style media="screen">
ul {
  list-style: none;
  display: inline;
  margin: 0 0 2em;
}
.all_links {
  position: absolute;
  right: 40px;
  top: 16px;
}
</style>
